$color-primary-light: rgba(109, 77, 151, 0.4);

$color-primary-dark: rgba(0, 0, 0, .5);

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-grey-light: #eee;
$color-white: #fff;
$color-black: #000;

$color-card-yellow-light: #ffb900;
$color-card-yellow-dark: #ff7730;

$color-card-blue-light: #00d9ff;
$color-card-blue-dark: #3072ff;