@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;

  box-sizing: border-box;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 5rem;


  &--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;

    animation: move-left 2s ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.7rem;
    font-weight: 300;

    animation: move-right 2s ease-out;
  }

}

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: .5rem;

  background-image: linear-gradient(to left, $color-primary-dark, $color-primary-light);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all .2s;

  &:hover {
    transform: translateX(5rem);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;

}

.paragraph {
  font-size: 1.5rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}